<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
 
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div>
<h2 >Spring Boot System -Student Registration</h2>
<tr>
<div align = "left" >   
     <h3><a  th:href="@{'/new'}">new Registration</a></h3>    
    </div>
</tr>
<tr>
<div class="col-sm-5" align = "center">
                 <div class="panel-body" align = "center" >
                 <table class="table">
  <thead class="thead-dark">
    <tr>
       <th>Student ID</th>
            <th>Student Name</th>
            <th>Marks</th>
            <th>Percentage</th>
            <th>Edit</th>
            
   </tr>
  </thead>
  <tbody>
      <tr  th:each="student : ${liststudent }">
<td th:text="${student.id}">Student_Id</td>
<td th:text="${student.studentname}">Student_Name</td>
<td th:text="${student.course}">Marks</td>
<td th:text="${student.fee}">Percentage</td>
<td>
<a th:href="@{'/edit/' + ${student.id}}">Edit</a>
</td>          
</tr>
  
  </tbody>
</table>
                    
                 </div>
 
            </div>
 
</tr>
 
</tbody>
</table>
<div>
</body>
</html>